extends _layout.pug

block head
  style
    .
      .table-wrapper { overflow-x: auto; }

block content
  .card.has-table
    header.card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-trophy-outline
        span Global Leaderboards
    .card-content
      .table-wrapper.has-mobile-cards
        if scores && scores.length > 0
          table.table.is-fullwidth.is-striped.is-hoverable
            thead
              tr
                th Player
                th Game
                th Track / Course
                th Score
                th Date
            tbody
              each s in scores
                tr
                  td(data-label="Player") #{s.playerName}
                  td(data-label="Game") #{s.gameName}
                  td(data-label="Track / Course") #{s.trackName}
                  td(data-label="Score") #{s.scoreValue}
                  td(data-label="Date") #{new Date(s.date).toLocaleDateString()}
        else
          section.section
            .content.has-text-grey.has-text-centered
              p
                span.icon.is-large
                  i.mdi.mdi-emoticon-sad.mdi-48px
              p No scores available yet. Play some games!
